{{ if .Values.radixWebhook.enabled }}

apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: radix-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: radix-webhook
      namespace: {{ .Release.Namespace }}
      path: /gateway/v1/httproute/validation
      port: 443
  failurePolicy: Fail
  matchPolicy: Equivalent
  name: httproute.validate.gateway.networking.k8s.io
  rules:
  - apiGroups:
    - gateway.networking.k8s.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - httproutes
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: radix-webhook
      namespace: {{ .Release.Namespace }}
      path: /radix/v1/radixapplication/validation
      port: 443
  failurePolicy: Fail
  matchPolicy: Equivalent
  name: radixapplication.validate.radix.equinor.com
  rules:
  - apiGroups:
    - radix.equinor.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - radixapplications
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: radix-webhook
      namespace: {{ .Release.Namespace }}
      path: /radix/v1/radixregistration/validation
      port: 443
  failurePolicy: Fail
  matchPolicy: Equivalent
  name: radixregistration.validate.radix.equinor.com
  rules:
  - apiGroups:
    - radix.equinor.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - radixregistrations
  sideEffects: None

{{ end }}
