# defines roles for different user groups (e.g. admin or platform users)
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: radix-cluster-admins
  labels:
    {{- include "radix-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: Group
  name: "{{ .Values.radixGroups.clusterAdmin }}"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: radix-platform-user
  labels:
    {{- include "radix-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - radix.equinor.com
  resources:
  - radixregistrations
  verbs:
  - create
- apiGroups:
  - radix.equinor.com
  resources:
  - radixapplications
  verbs:
  - list
  - watch
- apiGroups:
  - radix.equinor.com
  resources:
  - radixdeployments
  verbs:
  - list
- apiGroups:
  - radix.equinor.com
  resources:
  - radixjobs
  verbs:
  - get
  - list
  - watch
  - update
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - radix.equinor.com
  resources:
  - radixenvironments
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - autoscaling
  resources:
  - horizontalpodautoscalers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - authorization.k8s.io
  resources:
  - selfsubjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    group: radix-platform-user
  name: radix-platform-user-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: radix-platform-user
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: Group
  name: "{{ .Values.radixGroups.user }}"
{{if eq .Values.clusterType "playground"}}
- apiGroup: rbac.authorization.k8s.io
  kind: Group
  name: "{{ .Values.radixGroups.playground }}"
{{end}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: radix-app-admin
  labels:
    {{- include "radix-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - radix.equinor.com
  resources:
  - radixapplications
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - radix.equinor.com
  resources:
  - radixalerts
  verbs:
  - get
  - list
  - watch
  - create
  - delete
  - patch
  - update
- apiGroups:
  - '*'
  resources:
  - pods
  - pods/log
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
  - list
  - watch
  - delete
- apiGroups:
  - ''
  resources:
  - configmaps
  verbs:
  - get
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: radix-app-admin-envs
  labels:
    {{- include "radix-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - radix.equinor.com
  resources:
  - radixdeployments
  verbs:
  - get
  - list
  - watch
  - create
  - delete
  - patch
- apiGroups:
  - radix.equinor.com
  resources:
  - radixalerts
  verbs:
  - get
  - list
  - watch
  - create
  - delete
  - patch
  - update
- apiGroups:
  - '*'
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
  - delete
- apiGroups:
  - '*'
  resources:
  - events
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - '*'
  resources:
  - pods
  - pods/log
  - services
  verbs:
  - get
  - list
  - watch
  - delete
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - '*'
  resources:
  - secrets
  verbs:
  - create
- apiGroups:
  - ''
  resources:
  - configmaps
  verbs:
  - get
  - list
  - patch
