# used to define rbac rules for radix api and webhook - that require special permissions
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "radix-operator.labels" . | nindent 4 }}
  name: radix-webhook
rules:
- apiGroups:
  - radix.equinor.com
  resources:
  - radixregistrations
  - radixapplications
  - radixdeployments
  verbs:
  - list
  - get
  - watch
- apiGroups:
  - "*"
  resources:
  - namespaces
  - ingresses
  - deployments
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - radix.equinor.com
  resources:
  - radixjobs
  verbs:
  - get
  - list
  - watch
  - patch
  - create
# Remove as part of https://equinor.atlassian.net/browse/RA-725
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
  - list
  - watch
  - patch
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "radix-operator.labels" . | nindent 4 }}
  name: radix-api
rules:
- apiGroups:
  - radix.equinor.com
  resources:
  - radixregistrations
  - radixapplications
  - radixdeployments
  verbs:
  - list
  - get
  - watch
- apiGroups:
  - radix.equinor.com
  resources:
  - radixenvironments
  verbs:
  - get
  - list
  - watch
  - delete
  - create
- apiGroups:
  - '*'
  resources:
  - namespaces
  verbs:
  - get
  - list
- apiGroups:
  - '*'
  resources:
  - serviceaccounts
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
  - list
  - watch
  - create
- apiGroups:
  - radix.equinor.com
  resources:
  - radixjobs
  verbs:
  - get
  - list
  - watch
  - patch
  - create
- apiGroups:
  - 'secrets-store.csi.x-k8s.io'
  resources:
  - secretproviderclasses
  - secretproviderclasspodstatuses
  verbs:
  - get
  - list
- apiGroups:
  - '*'
  resources:
  - secrets
  verbs:
  - get
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "radix-operator.labels" . | nindent 4 }}
  name: radix-api-access-validation
rules:
- apiGroups:
  - '*'
  resources:
  - roles
  - rolebindings
  verbs:
  - create
  - delete
- apiGroups:
  - '*'
  resources:
  - configmaps
  verbs:
  - update
---
