apiVersion: v1
kind: ConfigMap
metadata:
  name: radix-config
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "radix-operator.labels" . | nindent 4 }}
data:
  clustername: {{ .Values.clusterName }}
  subscriptionId: {{ .Values.subscriptionId }}
  clusterActiveEgressIps: {{ .Values.clusterActiveEgressIps }}
