---
# used to grant pipeline access to create jobs in its app namespace
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: radix-pipeline-app
  labels:
    {{- include "radix-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - radix.equinor.com
  resources:
  - radixapplications
  verbs:
  - get
  - list
  - watch
  - create
  - update
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
  - list
  - watch
  - create
- apiGroups:
  - radix.equinor.com
  resources:
  - radixjobs
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - update
  - delete
- apiGroups:
    - 'secrets-store.csi.x-k8s.io'
  resources:
    - secretproviderclasses
  verbs:
  - get
  - list
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
---
# used to grant pipeline access to create new namespaces and deployments
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: radix-pipeline-env
  labels:
    {{- include "radix-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - radix.equinor.com
  resources:
  - radixdeployments
  verbs:
  - get
  - list
  - create
