apiVersion: v2
name: radix-operator
version: 1.107.0 # x-patch-semver
appVersion: 1.107.0 # x-patch-semver
kubeVersion: ">=1.24.0"
description: Radix Operator
icon:  https://radix.equinor.com/images/logos/logo.svg
keywords:
  - radix
home: radix.equinor.com
sources:
  - https://github.com/equinor/radix-operator
maintainers:
  - name: Omnia Radix Development Team
    email: Radix@StatoilSRM.onmicrosoft.com
deprecated: false
