apiVersion: v2
name: radix-operator
version: 1.35.1
appVersion: 1.55.1
kubeVersion: ">=1.24.0"
description: Radix Operator
keywords:
  - radix
home: radix.equinor.com
sources:
  - https://github.com/equinor/radix-operator
maintainers:
  - name: Omnia Radix Development Team
    email: Radix@StatoilSRM.onmicrosoft.com
deprecated: false
