name: radix-operator-pr
on:
  pull_request:
    branches:
      - master
jobs:
  build:
    name: Build container images
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        file:
          - operator.Dockerfile
          - pipeline.Dockerfile
          - webhook.Dockerfile
          - job-scheduler.Dockerfile
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build container
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.file }}
          push: false
          platforms: |
            linux/amd64
            linux/arm64

  unit-test:
    name: Unit tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - name: Install dependencies
        run: |
          go mod download
      - name: Run Tests
        run: |
          make test

  integration-test:
    name: Integration tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - name: Install dependencies
        run: |
          go mod download

      - name: Run e2e tests
        env:
          E2E_SETUP_PARALLELISM: 2
          E2E_PRUNE_BUILD_CACHE_ON_FINISH: "true"
        run: make test-e2e
        timeout-minutes: 35

  go-lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5.0

  verify-code-generation:
    name: Verify Code Generation
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - name: Verify Code Generation
        run: |
          make verify-generate

  helm-lint:
    name: Helm Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: azure/setup-helm@v4
      - name: Helm Lint
        run: |
          helm lint charts/radix-operator --set radixWebhook.enabled=true --set rbac.createApp.groups[0]="group1"
